@font-face {
  font-family: "Avara";
  src: url("./Fonts/FT88-School.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./Fonts/arialnarrow.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: url("./Fonts/FT88-Italic.otf") format("truetype");
}

.intro {
  position: fixed;
  font-family: "Italic", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  width: 90%;
  height: 30%;
  top: 45%;
  margin-left: 4%;
}

#introtekst {
  font-family: "Helvetica";
  position: relative;
  font-size: 60%;
  transition: color 0.5s ease, filter 0.5s ease;
}

.introImages {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  justify-content: space-between;
}

#roos {
  scale: 150%;
  margin-left: 10%;
}

/* 
#masters3 {
  width: 20%;
  height: auto;
  position: relative;
} */

.down {
  position: relative;
  margin-top: 3%;
  scale: 40%;
  transition: opacity 0.3s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  background-color: whitesmoke;
}

.contactgegevens {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  width: 95%;
}

.contactgegevens p {
  margin-left: 75px;
}

.contactgegevens p a {
  text-decoration: underline;
}

h2 {
  font-family: "Italic", sans-serif;
  font-size: 13px;
}

.header {
  position: fixed;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 2.5%;
  margin: 0;
}

.button {
  font-family: "Helvetica", sans-serif;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

.head {
  width: 100%;
  font-size: large;
  text-align: left;
  font-family: "Italic", serif;
}

a {
  font-family: "Helvetica", sans-serif;
  text-decoration: none;
  color: black;
}

#nav ul li {
  display: inline-block;
  font-family: "Helvetica", sans-serif;
}

#nav ul li a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

#nav ul li button {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#sortLuca:hover {
  color: whitesmoke;
  cursor: url("./Images/book.png"), auto;
}

#sortEhb:hover {
  color: whitesmoke;
  cursor: url("./Images/laptop.png"), auto;
}

#realLife:hover {
  color: whitesmoke;
  cursor: url("./Images/object.png"), auto;
}

#contact:hover {
  color: whitesmoke;
  cursor: url("./Images/mail.png"), auto;
}

.knopjeInfo {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}

.knopjeInfo img.info {
  width: 18px;
  height: 18px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5%;
  text-align: left;
  width: 100%;
  background-color: whitesmoke;
}

.footer img {
  margin-left: 3%;
}

#instagram {
  width: 2%;
}

.imgBlur {
  display: block;
  filter: none;
}

.content {
  position: absolute;
  font-family: "Helvetica", sans-serif;
  border-radius: 25px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
  top: 8%;
  bottom: 0;
  right: 7%;
  height: max-content;
  width: 70%;
  display: none;
}

.blurred {
  filter: blur(5px);
}

.blurred video {
  filter: blur(5px);
}

.visible video {
  filter: none;
}

.content.visible {
  display: flex;
  filter: none;
}

.imgBlur.blurred,
.carousel-images.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.page {
  display: flex;
  position: relative;
  margin-top: 15%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 100%;
}

.work {
  padding-top: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.workD {
  padding-top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.workT {
  padding-top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.title {
  box-sizing: border-box;
}

.title img video {
  display: block;
  width: 100%;
  height: auto;
}

.page img {
  width: 35%;
}

.work img {
  width: 35%;
}

.sjaalScale {
  scale: 90%;
  width: 30%;
}

#letters {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding: 3%;
}

#letters .images {
  width: 45%;
}

#lettersE {
  width: 100%;
  position: relative;
}

#lettersT {
  width: 100%;
  position: relative;
}

#fahrenheit {
  width: 100%;
  justify-content: center;
  padding: 2%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

#fahrenheitE,
#fahrenheitT {
  width: 20%;
  height: auto;
  object-fit: contain;
  flex: 0 0 auto;
}

#fahrenheitT {
  margin-top: 26%;
  margin-left: -5%;
}

#hekerock {
  width: 100%;
  justify-content: center;
  padding: 2%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

#hekerockE {
  width: 25%;
  position: relative;
}

#hekerockT {
  width: 25%;
  margin-top: 20%;
  margin-left: -5%;
  position: relative;
}

#filmposter {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

#filmposterE {
  position: relative;
  width: 45%;
}

#intmotion {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  width: 100%;
  padding: 2%;
}

#intE,
#intT,
#intD {
  position: relative;
}

#sjaal {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.sjaalNina {
  display: flex;
  justify-content: space-around;
  width: 19%;
  flex-direction: column;
}

#sjaalE,
#sjaalT {
  width: 100%;
  position: relative;
}

#sjaalD {
  width: 30%;
  position: relative;
}

#plaat {
  width: 100%;
  justify-content: center;
  padding: 2%;
  height: auto;
  display: flex;
  gap: 1%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#plaatE,
#plaatT,
#plaatD {
  width: 40%;
  position: relative;
}

#hoofden {
  position: relative;
  width: 100%;
  height: auto;
}

#hoofden .slide img {
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

/* #verzameling {
  position: relative;
  width: 580px;
  top: 200px;
  height: 500px;
}

#verzamelingE {
  width: 500px;
  right: 150px;
  position: absolute;
}

#verzamelingT {
  width: 500px;
  top: 130px;
  left: 150px;
  position: absolute;
} */

#motion {
  width: 40%;
  padding: 2%;
  display: flex;
  gap: 1%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#experience {
  width: 40%;
  padding: 2%;
  display: flex;
  gap: 1%;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#winx {
  width: 40%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#winx1 {
  width: 50%;
  position: relative;
}

#winx2 {
  width: 50%;
  z-index: 100;
  margin-right: -33%;
  position: relative;
}

#winx3 {
  width: 50%;
  position: relative;
}

#masters {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

#masters2 {
  width: 45%;
  position: relative;
}

#masters4 {
  width: 25%;
  position: relative;
}

.posters {
  width: 20%;
  height: 100%;
  justify-content: space-around;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

#masters6,
#masters5 {
  width: 90%;
  position: relative;
}

#rosas {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5%;
}

#rosas img {
  width: 35%;
  border-radius: 10px;
  margin-bottom: 5%;
  box-shadow: 0px 0px 5px #888888;
}

#canape,
.canapeImages {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin-bottom: 10%;
  margin-top: 10%;
}

#canape a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: underline;
}

#canape1 {
  width: 40%;
  position: relative;
  justify-content: center;
}

#stuk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
}

#imagesStuk {
  width: 70%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 5%;
}

#stuk1,
#stuk2,
#stuk3 {
  width: 45%;
  border-radius: 10px;
  margin-bottom: 5%;
  box-shadow: 0px 0px 5px #888888;
}

#stuk4 {
  width: 26%;
}

#image-carousel {
  position: relative;
  top: 200px;
}

.buttop {
  position: absolute;
  top: 50%;
  font-size: 30px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  width: 3rem;
  height: 3rem;

  transform: translateY(-50%);
}

.buttop--previous {
  left: 1.5rem;

  transform: rotate(180deg);
}

.buttop--next {
  right: 1.5rem;
}

.list {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;

  background-color: none;

  scroll-snap-align: center;
}

.container {
  position: sticky;
  top: 0;
  height: 100vh;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: sans-serif;
  font-size: 64px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  body {
    max-height: 100%;
    max-width: 100%;
  }

  .workD,
  .workT {
    margin-top: 70%;
  }

  .page {
    margin-top: 80%;
  }

  .contactgegevens {
    width: 80%;
    justify-content: center;
    text-align: center;
  }

  .contactgegevens p,
  .contactgegevens a {
    margin-left: 0px;
  }

  #nav ul li a {
    text-decoration: underline;
    color: black;
    font-size: 10px;
  }

  .footer {
    visibility: hidden;
    width: 0%;
  }

  #rosas #rosas1,
  #rosas #rosas2 {
    width: 80%;
  }

  .canapeImages,
  #canape a {
    height: auto;
    flex-direction: column;
  }

  #canape1 {
    width: 80%;
  }

  #imagesStuk {
    flex-direction: column;
  }

  #imagesStuk img {
    width: 90%;
  }

  .head {
    width: 100%;
    margin-left: 5%;
    padding: 0%;
    text-align: center;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    height: auto;
    flex-direction: column;
  }

  #letters {
    flex-direction: column;
  }

  #letters .images {
    width: 80%;
  }

  #filmposterE {
    width: 80%;
  }

  #hekerockE,
  #hekerockT {
    width: 40%;
  }

  #intmotion {
    flex-direction: column;
  }

  #intmotion video {
    margin-bottom: 5%;
    margin-left: 5%;
  }

  #sjaal {
    flex-direction: column;
  }

  .sjaalNina {
    width: 60%;
  }

  #sjaalD {
    width: 70%;
    position: relative;
  }

  #plaatE,
  #plaatT,
  #plaatD {
    width: 80%;
    position: relative;
  }

  #motion {
    width: 90%;
  }

  #experience {
    width: 90%;
  }

  #masters {
    flex-direction: column;
  }

  #masters2,
  #masters4 {
    width: 80%;
  }

  .posters {
    width: 70%;
    height: 100%;
  }

  .posters img {
    margin-bottom: 5%;
  }

  #hoofden {
    position: relative;
    width: 100%;
    height: auto;
  }

  #hoofden .slide img {
    justify-content: center;
    width: 100%;
  }

  .head {
    text-align: center;
    width: 95%;
    margin: 0;
  }

  #nav ul li {
    text-align: center;
  }

  .button {
    font-family: "Helvetica", sans-serif;
    border: none;
    padding: 5px 10px;
    background-color: inherit;
    cursor: pointer;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -15%;
    margin-top: -5%;
    width: 95%;
  }

  #masters3,
  #roos {
    top: 20%;
  }

  #masters3 {
    right: 40%;
  }

  video {
    max-width: 80%;
    height: auto;
  }

  .intro {
    font-size: 30px;
    width: 87%;
  }

  .introImages {
    margin-top: 10%;
  }

  .down {
    margin-top: 10%;
  }

  .work {
    padding-top: 50%;
  }

  .content {
    font-size: 11px;
    padding: 2%;
    top: 12%;
    bottom: 0;
  }
}
